<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>

<header>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid me-auto" id="navbarInfo">
            <!--            <span class="navbar-brand">-->
            <!--                <strong th:utext="${userAttr.getUsername()}"></strong>-->
            <!--                with roles:-->
            <!--                <span th:utext="${userAttr.getRolesToString()}"></span>-->
            <!--            </span>-->
        </div>
        <!--        <span class="nav-item ms-auto">-->
        <!--            <form th:action="@{/logout}" method="post">-->
        <!--                <button type="submit" class="btn btn-dark">Logout</button>-->
        <!--            </form>-->
        <!--        </span>-->
    </nav>
</header>

<body>
<main class="row">
    <div class="p-0 col-2">
        <div class="nav flex-column nav-pills pt-4" aria-orientation="vertical">
            <a id="btnAdminPanel" class="nav-link active" data-toggle="tab" href="admin2.html#admin-panel"
               aria-controls="v-pills-home" aria-selected="true"> Admin</a>
            <a class="nav-link" data-toggle="tab" href="#user-information-page"
               aria-controls="v-pills-profile" aria-selected="false"> User</a>
        </div>
    </div>

    <div class="p-0 col-10 bg-light">
        <div class="tab-content container-fluid" id="pills-Content">

            <!--        + Admin panel page    -->
            <div class="tab-pane fade show active" id="admin-panel" role="tab-panel" aria-labelledby="admin-panel-tab">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1">
                    <h1>Admin panel</h1>
                </div>

                <!--            + All users & Add new user button tab sections   -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#usersTable">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="btnNewUser" data-toggle="tab" href="#newUser">New user</a>
                        <!--                        <a class="nav-link" id="btnNewUser">New user</a>-->
                    </li>
                </ul>
                <!--            - All users & Add new user button tab sections    -->

                <!--            + All users & Add new user tab section   -->
                <div class="tab-content">

                    <!--                + All user tab section    -->
                    <div class="tab-pane fade show active" id="usersTable">
                        <div class="card">
                            <div class="card-header">All users</div>
                            <div class="card-body">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--                                    <tr th:each="user : ${users}">-->
                                    <!--                                        <td th:text="${user.getName()}"></td>-->
                                    <!--                                        <td th:text="${user.getSurname()}"></td>-->
                                    <!--                                        <td th:text="${user.getAge()}"></td>-->
                                    <!--                                        <td th:text="${user.getInstrument()}"></td>-->
                                    <!--                                        <td th:text="${user.getUsername()}"></td>-->
                                    <!--                                        <td th:text="${user.getRolesToString()}"></td>-->

                                    <!--&lt;!&ndash;                                    + Edit & Delete button for modal window    &ndash;&gt;-->
                                    <!--                                        <td>-->
                                    <!--                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal"-->
                                    <!--                                                    th:data-target="${'#editModal'+user.id}">Edit-->
                                    <!--                                            </button>-->
                                    <!--                                        </td>-->
                                    <!--                                        <td>-->
                                    <!--                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Delete"-->
                                    <!--                                                    th:data-target="${'#Delete'+user.id}">Delete-->
                                    <!--                                            </button>-->
                                    <!--                                        </td>-->
                                    <!--&lt;!&ndash;                                    - Edit & Delete button for modal window    &ndash;&gt;-->

                                    <!--&lt;!&ndash;                                    + Edit modal window    &ndash;&gt;-->
                                    <!--                                        <div class="modal fade" th:id="${'editModal'+user.id}"-->
                                    <!--                                             aria-labelledby="exampleModalLabel" aria-hidden="true">-->
                                    <!--                                            <div class="modal-dialog" modal-dialog-centered>-->
                                    <!--                                                <div class="modal-content">-->
                                    <!--                                                    <div class="modal-header">-->
                                    <!--                                                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>-->
                                    <!--                                                        <button type="button" class="close" data-dismiss="modal"-->
                                    <!--                                                                aria-label="Close"><span aria-hidden="true">&times;</span>-->
                                    <!--                                                        </button>-->
                                    <!--                                                    </div>-->
                                    <!--                                                    <form th:action="@{/admin/{id}(id=${user.id})}"-->
                                    <!--                                                          th:object="${user}" th:method="PATCH">-->
                                    <!--                                                        <div class="modal-body text-center">-->
                                    <!--                                                            <div class="col-md-6 mx-auto">-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="name0"><b>First name</b></label>-->
                                    <!--                                                                <input th:name="name" th:type="text"-->
                                    <!--                                                                       class="form-control" id="name0"-->
                                    <!--                                                                       th:value="${user.name}"/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="surname0"><b>Last name</b></label>-->
                                    <!--                                                                <input th:name="surname" th:type="text"-->
                                    <!--                                                                       class="form-control" id="surname0"-->
                                    <!--                                                                       th:value="${user.surname}"/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="age0"><b>Age</b></label>-->
                                    <!--                                                                <input th:name="age" th:type="number"-->
                                    <!--                                                                       class="form-control" id="age0"-->
                                    <!--                                                                       th:value="${user.age}"/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="instrument0"><b>Instrument</b></label>-->
                                    <!--                                                                <input th:name="instrument" th:type="text"-->
                                    <!--                                                                       class="form-control" id="instrument0"-->
                                    <!--                                                                       th:value="${user.instrument}"/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="username0"><b>Login</b></label>-->
                                    <!--                                                                <input th:name="username" th:type="text"-->
                                    <!--                                                                       class="form-control" id="username0"-->
                                    <!--                                                                       th:value="${user.username}"/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="password0"><b>Password</b></label>-->
                                    <!--                                                                <input th:name="password" type="text"-->
                                    <!--                                                                       class="form-control" id="password0"-->
                                    <!--                                                                       th:value="${user.password}"/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="roles0"><b>Role</b></label>-->
                                    <!--                                                                <select multiple class="form-control" id="roles0" name="roles" size="2" required>-->
                                    <!--                                                                    <option th:each="role: ${user_roles}" th:value="${role.getId()}" th:selected="${user.roles.contains(role)}">-->
                                    <!--                                                                        <th:block th:text="${role.getRoleName()}">-->
                                    <!--                                                                        </th:block>-->
                                    <!--                                                                    </option>-->
                                    <!--                                                                </select>-->
                                    <!--                                                                <br><br>-->
                                    <!--                                                            </div>-->
                                    <!--                                                        </div>-->
                                    <!--                                                        <div class="modal-footer">-->
                                    <!--                                                            <button type="button" class="btn btn-secondary"-->
                                    <!--                                                                    data-dismiss="modal">Close-->
                                    <!--                                                            </button>-->
                                    <!--                                                            <button type="submit" class="btn btn-primary">-->
                                    <!--                                                                Edit-->
                                    <!--                                                            </button>-->
                                    <!--                                                        </div>-->
                                    <!--                                                    </form>-->
                                    <!--                                                </div>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--&lt;!&ndash;                                    - Edit modal window    &ndash;&gt;-->

                                    <!--&lt;!&ndash;                                    + Delete modal window    &ndash;&gt;-->
                                    <!--                                        <div class="modal fade" th:id="${'Delete'+user.id}"-->
                                    <!--                                             aria-labelledby="exampleModalLabel" aria-hidden="true">-->
                                    <!--                                            <div class="modal-dialog" role="document">-->
                                    <!--                                                <div class="modal-content">-->
                                    <!--                                                    <div class="modal-header">-->
                                    <!--                                                        <h5 class="modal-title" id="exampleModalLabel">Delete-->
                                    <!--                                                            user</h5>-->
                                    <!--                                                        <button type="button" class="close" data-dismiss="modal"-->
                                    <!--                                                                aria-label="Close"><span aria-hidden="true">&times;</span>-->
                                    <!--                                                        </button>-->
                                    <!--                                                    </div>-->
                                    <!--                                                    <form class="modal-body col-md text-center"-->
                                    <!--                                                          th:action="@{/admin/{id}(id=${user.id})}"-->
                                    <!--                                                          th:method="DELETE">-->
                                    <!--                                                        <div class="modal-body text-center">-->
                                    <!--                                                            <div class="col-md-6 mx-auto">-->
                                    <!--                                                                <label for="id"><b>ID</b></label>-->
                                    <!--                                                                <input th:name="id" th:type="text" class="form-control"-->
                                    <!--                                                                       id="id" th:value="${user.id}" disabled/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="name1"><b>First name</b></label>-->
                                    <!--                                                                <input th:name="name" th:type="text"-->
                                    <!--                                                                       class="form-control"-->
                                    <!--                                                                       id="name1" th:value="${user.name}" disabled/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="surname1"><b>Last name</b></label>-->
                                    <!--                                                                <input th:name="surname" th:type="text"-->
                                    <!--                                                                       class="form-control" id="surname1"-->
                                    <!--                                                                       th:value="${user.surname}" disabled/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="age1"><b>Age</b></label>-->
                                    <!--                                                                <input th:name="age" th:type="number"-->
                                    <!--                                                                       class="form-control"-->
                                    <!--                                                                       id="age1" th:value="${user.age}" disabled/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="instrument1"><b>Instrument</b></label>-->
                                    <!--                                                                <input th:name="instrument" th:type="text"-->
                                    <!--                                                                       class="form-control"-->
                                    <!--                                                                       id="instrument1" th:value="${user.instrument}" disabled/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="username1"><b>Login</b></label>-->
                                    <!--                                                                <input th:name="username" th:type="text"-->
                                    <!--                                                                       class="form-control"-->
                                    <!--                                                                       id="username1" th:value="${user.username}" disabled/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                                <label for="roles1"><b>Role</b></label>-->
                                    <!--                                                                <input th:name="rolesToString" th:type="text"-->
                                    <!--                                                                       class="form-control"-->
                                    <!--                                                                       id="roles1" th:value="${user.rolesToString}" disabled/>-->
                                    <!--                                                                <br>-->
                                    <!--                                                            </div>-->
                                    <!--                                                        </div>-->
                                    <!--                                                        <div class="modal-footer">-->
                                    <!--                                                            <button type="button" class="btn btn-secondary"-->
                                    <!--                                                                    data-dismiss="modal">Close-->
                                    <!--                                                            </button>-->
                                    <!--                                                            <button type="submit" class="btn btn-danger">Delete-->
                                    <!--                                                            </button>-->
                                    <!--                                                        </div>-->
                                    <!--                                                    </form>-->
                                    <!--                                                </div>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--&lt;!&ndash;                                    - Delete modal window   &ndash;&gt;-->

                                    <!--                                    </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--                - All user tab section     -->

                    <!--                + Edit user modal    -->
                    <div class="modal fade" id="modalEdit"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" modal-dialog-centered>
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form>
                                    <div class="modal-body text-center">
                                        <div class="col-md-6 mx-auto">
                                            <br>
                                            <label for="nameEdit"><b>Username</b></label>
                                            <input id="nameEdit" type="text" class="form-control"/>
                                            <br>
                                            <label for="surnameEdit"><b>Email</b></label>
                                            <input id="surnameEdit" type="text" class="form-control"/>
                                            <br>
                                            <label for="passwordEdit"><b>Password</b></label>
                                            <input id="passwordEdit" type="password" class="form-control"/>
                                            <br>
                                            <label for="rolesEdit"><b>Role</b></label>
                                            <select id="rolesEdit" class="custom-select form-control"
                                                    size="2" multiple required>
                                            </select>
                                            <br><br>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary" aria-pressed="true">
                                            Edit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--                - Edit user modal    -->

                    <!--                + Delete user modal    -->
                    <div class="modal fade" id="modalDelete"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" modal-dialog-centered>
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form>
                                    <div class="modal-body text-center">
                                        <div class="col-md-6 mx-auto">
                                            <br>
                                            <label for="idDelete"><b>ID</b></label>
                                            <input id="idDelete" type="text" class="form-control" disabled/>
                                            <br>
                                            <label for="nameDelete"><b>Username</b></label>
                                            <input id="nameDelete" type="text" class="form-control" disabled/>
                                            <br>
                                            <label for="surnameDelete"><b>Email</b></label>
                                            <input id="surnameDelete" type="text" class="form-control" disabled/>
                                            <br>
                                            <label for="rolesDelete"><b>Role</b></label>
                                            <select id="rolesDelete" class="custom-select form-control"
                                                    size="2" multiple required disabled>
                                            </select>
                                            <br><br>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-danger" aria-pressed="true">
                                            Delete
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--                - Delete user modal    -->


                    <!--                + New user tab section    -->
                    <div class="tab-pane fade" id="newUser">
                        <div class="card">
                            <div class="card-header">Add new user</div>
                            <div class="card-body">
                                <div class="col-md-4 mx-auto">
                                    <form id="newUserForm">
                                        <div class="form-group text-center">
                                            <label for="name"><strong>Username</strong></label>
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="surname"><strong>Email</strong></label>
                                            <input type="text" class="form-control" id="surname">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="password"><strong>Password</strong></label>
                                            <input type="password" class="form-control" id="password">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="roles"><strong>Role</strong></label>
                                            <select id="roles" class="custom-select form-control"
                                                    size="2" multiple required>
                                            </select>
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-success" id="addNewUserButton">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                - New user tab section    -->

                </div>
                <!--            - All users & Add new user tab section    -->

            </div>
            <!--        - Admin panel page    -->

            <!--        + User information page   -->
            <div class="tab-pane fade" id="user-information-page" aria-labelledby="user-panel-tab">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1">
                    <h1>User information-pade</h1>
                </div>
                <div class="card">
                    <div class="card-header">About user</div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--                            <tr>-->
                            <!--                                <td th:text="${userAttr.getName()}"></td>-->
                            <!--                                <td th:text="${userAttr.getSurname()}"></td>-->
                            <!--                                <td th:text="${userAttr.getAge()}"></td>-->
                            <!--                                <td th:text="${userAttr.getInstrument()}"></td>-->
                            <!--                                <td th:text="${userAttr.getUsername()}"></td>-->
                            <!--                                <td th:text="${userAttr.getRolesToString()}"></td>-->
                            <!--                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--        - User information page    -->
        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{js/admin.js}"></script>

</body>
</html>